<!DOCTYPE html>

{% load bootstrap4 %}
{% load static %}

<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name="viewpost" content="width-device-width, initial-scale=1,
   shrink-to-fit-no">

  <title>{% block title %}{{texts}}{% endblock title %} - Page</title>
  {% bootstrap_css %}
</head>
<body class="container_fluid">
 <header>
    <div class="h1">
      <h1 classe="display-1 text-center">{% block h1 %}{{texts}}{% endblock h1 %}</h1>
    </div>
    {% block content %}

    {% endblock content %}

  </header>
</body>
</html>
